{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body class>
		<!-- Your layout here -->
		<style>
			html,body{
				margin: 0;
				padding:0;
				height: 100%;
			}
			.filler{
				min-height:100%;
			}
			.red{
				background-color:red;
			}
			.blue{
				background-color:blue;
			}
			.violet{
				background-color:violet;
			}
			.black{
				background-color:black;
			}
			.mintcream{
				background-color:mintcream;
			}
			.skyblue{
				background-color:skyblue;
			}
			.filler{
				height:100vh;
				overflow:auto;
			}
		</style>
		<div class="container-fluid ">
			<div class="row ">
				<div class="col red filler">asdf</div>
				<div class="col blue"></div>
			</div>
			<div class="row">
				<div class="col violet filler">asdf</div>
				<div class="col black"></div>
			</div>
			<div class="row">
				<div class="col mintcream filler">asdf</div>
				<div class="col skyblue"></div>
			</div>
			
		</div>

	</body>
</html>

































