{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
		<!-- Your layout here -->
		<style>
			html,body{
				margin:0;
				padding:0;
			}
			.inner{
				background-color:beige;
				flex-grow:1;
				margin:10px;
				height:100vh;
			}
			.outer{
				background-color:skyblue;
			}
			.box{
				display:flex;
				justify-content:space-around;
			}
		</style>
		<div class="outer box">
			<div class="inner"></div>
			<div class="inner"></div>
			<div class="inner"></div>
			<div class="inner"></div>
			
			<div class="inner"></div>
			<div class="inner"></div>
			<div class="inner"></div>
			<div class="inner"></div>
		</div>
	</body>
</html>